{% extends "layout.html" %}
{% block content %}

<!-- Page Image -->
<div class="text-center mb-4">
    <img src="{{ url_for('static', filename='images/pwdBreachTool.png') }}" alt="Whois Lookup Tool Interface" class="img-fluid">
</div>

<h1 class="text-center custom-header">Check Password Breach</h1>
<p class="text-center">Enter your password to check if it has been part of any data breaches.</p>

<form id="passwordBreachForm" method="POST" class="text-center">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <!-- Input field for the password -->
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input class="form-control custom-input mx-auto" id="password" name="password" placeholder="Enter password" maxlength="100" style="max-width: 400px;">
    </div>

    <!-- Check Button -->
    <button type="button" class="btn custom-btn" id="check-breach-btn">Check Breach</button>
</form>

<!-- Display the breach count with custom design -->
<div id="breach-container" class="mt-4">
    <div class="custom-card shadow-lg border-0 rounded-lg">
        <div class="card-body">
            <h4 class="card-title text-center custom-title">Password Breach Info</h4>
            <div class="text-center">
                <i id="breach-icon" class="bi" style="font-size: 2rem;"></i>
                <p id="breach-info" class="mt-3 custom-info"></p>
                <p id="breach-recommendation" class="custom-recommendation"></p>
            </div>
        </div>
    </div>
</div>
<!-- Custom CSS Styling -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/passwordbreach.css') }}">
<script src="{{ url_for('static', filename='js/modules/passwordbreach.js') }}" nonce="{{ g.csp_nonce }}"></script>

{% endblock content %}
