{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blogsdetail.css') }}">
<div class="row">
    <!-- Main Blog Content -->
    <div class="col-md-12">
        <!-- Blog Post Content -->
        <div class="card mb-4">
            <!-- Blog Image -->
            <img src="{{ url_for('static', filename=blog_post['image'].replace('\\', '/')) }}" class="card-img-top card14" alt="{{ blog_post['title'] }}">
            
            <div class="card-body">
                <!-- Blog Title -->
                <h2 class="card-title">{{ blog_post['title'] }}</h2>
                <p class="text-white">By {{ blog_post['author'] }} in {{ blog_post['category'] }} on {{ blog_post['date'] }}</p>
                <hr>
                
                <!-- Blog Content -->
                <div>{{ blog_post['content'] | safe }}</div>
            </div>
        </div>

        <!-- Edit and Back Buttons -->
        <div class="d-flex justify-content-between mb-4">
            <!-- Edit Button for Admins -->
            {% if current_user.is_authenticated and current_user.role == 'admin' %}
            <a href="{{ url_for('blogs.edit_blog', blog_id=blog_post['id']) }}" class="btn btn-warning">Edit Blog</a>
            {% endif %}
            <a href="{{ url_for('blogs.blogs') }}" class="btn btn-secondary">Back to Blogs</a>
        </div>
    </div>
</div>

{% endblock %}
